#!/bin/sh

MCOLLECTIVE_DEFAULT="/etc/default/mcollective"

set -e

. /usr/share/debconf/confmodule

# reread values from configuration
if [ -r "$MCOLLECTIVE_DEFAULT" ]; then
	. $MCOLLECTIVE_DEFAULT
	if [ "$RUN" = "yes" ]; then
		db_set mcollective/start_on_boot true
	else
		db_set mcollective/start_on_boot false
	fi
fi

db_input low mcollective/start_on_boot || true
db_go

db_stop
