#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_input medium mcollective/security_psk || true
db_go

db_input medium mcollective/stomp_host || true
db_go

db_input low mcollective/stomp_port || true
db_go

db_input medium mcollective/stomp_user || true
db_go

db_input medium mcollective/stomp_password || true
db_go

db_stop
