#!/bin/sh

MCOLLECTIVE_CONF="/etc/mcollective/server.cfg"

get_cfg_value() {
	PARAM=$1
	grep "${PARAM}" ${MCOLLECTIVE_CONF} | sed -e "s@^${PARAM}\([[:space:]]\+\|\)=\([[:space:]]\+\|\)@@"
}

set -e

. /usr/share/debconf/confmodule

# reread values from configuration
if [ -r "$MCOLLECTIVE_CONF" ]; then
	VAL=$(get_cfg_value "plugin.psk")
	db_set mcollective/security_psk $VAL

	VAL=$(get_cfg_value "plugin.stomp.host")
	db_set mcollective/stomp_host $VAL

	VAL=$(get_cfg_value "plugin.stomp.port")
	db_set mcollective/stomp_port $VAL

	VAL=$(get_cfg_value "plugin.stomp.user")
	db_set mcollective/stomp_user $VAL

	VAL=$(get_cfg_value "plugin.stomp.password")
	db_set mcollective/stomp_password $VAL
fi

db_input medium mcollective/security_psk || true
db_go

db_input medium mcollective/stomp_host || true
db_go

db_input low mcollective/stomp_port || true
db_go

db_input medium mcollective/stomp_user || true
db_go

db_input medium mcollective/stomp_password || true
db_go

db_stop
